body{
    
    background-image: url(photoscss/tomatobg1.png);
    object-fit: cover;
    opacity: 10;
    border:5px solid white;
}
#Beets{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
h1{
    text-align: center;
    color:white;

}
table,th,td{
    border:2px solid black;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

table{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    
}
table:hover{
    color: lightslategray;
    cursor:grab;
}
th{
    height:30px;
    background-color: white;
    color:black;
    padding:10px;
    
}
td{
    height:25px;
    background-color: white;
    color:black;
    padding:10px;

}
tr:hover
{
    background-color:white;
}